* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    font-family: sans-serif;
}
img {
    height: 200px;
}
table {
	margin: 50px auto;
	text-align: center;
	border-spacing: 0;
}
table,
td {
	border: 1px solid #000;
}
td {
	padding: 10px 40px;
    font-size: 40px;
}