* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
}
.container {
	display: flex;
	width: 100vw;
	height: 100vh;
    background-color: #129f10;
}
.object {
	width: 50%;
	height: 50%;
    background-color: rgb(188, 52, 52);
}
.blocks1 {
	display: flex;
	justify-content: space-evenly;
    background-color: #fff;
}
.blocks1 > div {
	width: 40px;
	height: 40px;
}
.blocks1 > block1 {
    background-color: yellow;
}
.blocks1 > block2 {
    background-color: tomato;
}
