* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
	font-family: sans-serif;
	color: #fff;
}
.wrapper {
	position: relative;
	// top: -100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
.hero {
	&-img {
		position: relative;
		height: 320px;
		width: 1000px;
		display: flex;
		justify-content: center;
		align-items: center;
		// background-image: url('../images/gory1.jpg');
	}
	&-text {
		position: absolute;
		font-size: 45px;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		#yearText {
			font-size: 58px;
		}
	}
	&-bg {
		width: 100%;
		height: 100%;
		background-color: #00000058;
	}
}
.calendar {
	display: flex;
	align-items: center;
	width: 1000px;
	height: 400px;
	background-color: #fff;
}
.main {
	height: 100%;
	padding-top: 20px;
    // border: 1px solid #000;
	.day-names {
		display: flex;
		height: 10%;
		p {
			width: 105px;
			height: 100%;
			border: 1px solid #000;
			color: #000;
			text-align: center;
			text-transform: uppercase;
			line-height: 38px;
		}
	}
	.weeks {
		[class^="week"] {
			display: flex;
			height: 45px;
			[class*="day"] {
				width: 105px;
				height: 100%;
                font-size: 26px;
                color: #000;
                text-align: center;
                line-height: 50px;
				border: 1px solid #000;
			}
		}
	}
}
#btn-prev-month,
#btn-next-month {
	height: 40px;
	width: 90px;
	padding: 6px 10px;
	margin: 15px 20px;
	font-size: 16px;
	border-radius: 12px;
	background-color: #ADCCFE;
	border: 0 solid #000;
	text-align: center;
	transition: box-shadow .2s ease-out;
}
#btn-prev-month:hover,
#btn-next-month:hover {
	cursor: pointer;
	box-shadow: 0 0 0 2px #72a8ff;
}